:root {
  font-family: Inter;
  line-height: 1.5;

  /* Colors */
  --white: #fff;
  --black: #060606;
  --secondary-black: #181818;
  --orange: #F24405;
  --secondary-orange: #F28705;

  background-color: var(--black);
  color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  cursor: default;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 68px;
  line-height: 1.1;
}

h3 {
  font-size: 40px;
  font-weight: 500;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.section {
  margin: 0 124px;
}


@media screen and (max-width : 1440px) {
  .section {
    margin: 0 104px;
  }
}