:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* Colors */
  --white: #fff;
  --black: #060606;
  --secondary-black: #181818;
  --orage: #F24405;
  --secondary-orange: #F28705;

  background-color: var(--black);
  color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  cursor: default;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 68px;
  line-height: 1.1;
}

h3 {
  font-size: 40px;
  font-weight: 500;
}